@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*--------------------------------------------------------------------Esthetique du menu------------------------------------------------------------------------------------*/
body {
    font-family: 'Roboto';
    color: #000000;
    font-size: 18px;
}

.no-bullets {
    list-style-type: none;
}

ul, ol {
    display: block;
    padding: 0;
    margin: 0;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

.btn-navigation {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 20;
  cursor: pointer;
}

.btn-navigation .barre {
display: block;
width: 30px;
height: 3px;
background: #111;
margin-top: 3px;
transition: background .s ease-in-out;
-webkit-transition: background .6s ease-in-out;
}

.btn-navigation .barre.white {
background: #fff;
}

.navigation {
  position: fixed;
  right: 0;
  padding: 30px;
  background: #333;
  width: 20%;
  height: 100%;
  transition: transform .6s ease-in-out;
  -webkit-transition: transform .6s ease-in-out;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.navigation.isOpen {

  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

.navigation ul{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);

}

.navigation ul li {
  margin: 10px 0;
}

.navigation ul li a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: .070em;
  font-weight: 800px;
}






/*----------------------------------------------------------------------- contact info --------------------------------------------------------------------------------------*/

#contact {
    padding: 60px 0;
}

#contact .contact-info {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 100px;
}

#contact .contact-info i {
    font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: #f82249;
}

#contact .contact-info address,
#contact .contact-info p {
    margin-bottom: 0;
    color: #000000;
}

#contact .contact-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #112363;
}

#contact .contact-info a {
    color: #000000;
}

#contact .contact-info a:hover {
    color: #f82249;
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
    margin-bottom: 20px;
}
.ion-ios-location-outline {
  color: #000000;
}
/* -----------------------------------------------------------------esthétique de la map------------------------------------------------------------------------------------- */
.map {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
}
/* -------------------------------------------------------------------esthétique footer ---------------------------------------------------------------------------------------*/
.footer nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.footer nav > ul a:not(.btn) {
  color: #777777;
  display: block;
  margin-bottom: 3px;
}
.footer nav > ul a:not(.btn):hover, .footer nav > ul a:not(.btn):focus {
  color: #777777;
}
.footer .social-area {
  padding: 15px 0;
}
.footer .social-area h5 {
  padding-bottom: 10px;
}
.footer .social-area > a:not(.btn) {
  color: #777777;
  display: inline-block;
  vertical-align: top;
  padding: 10px 5px;
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
}
.footer .social-area > a:not(.btn):hover, .footer .social-area > a:not(.btn):focus {
  color: #777777;
}
.footer .copyright {
  color: #777777;
  padding: 10px 15px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center;
}
.footer hr {
  border-color: #DDDDDD;
}
.footer .title {
  color: #777777;
}


.footer:not(.footer-big) nav > ul {
  font-size: 16px;
}
.footer:not(.footer-big) nav > ul li {
  margin-left: 20px;
  float: left;
}
.footer:not(.footer-big) nav > ul a {
  padding: 10px 0px;
  margin: 15px 10px 15px 0px;
}
.footer-color-gray {
  background-color: #F5F5F5;
}

.footer-color-black,
.footer-transparent {
  background-color: rgba(30, 30, 30, 0.97);
  color: #DDDDDD;
}
.footer-color-black nav > ul a,
.footer-transparent nav > ul a {
  color: #FFFFFF;
}
.footer-color-black nav > ul a:hover, .footer-color-black nav > ul a:focus,
.footer-transparent nav > ul a:hover,
.footer-transparent nav > ul a:focus {
  color: #777777;
}
.footer-color-black .social-area > a:not(.btn),
.footer-transparent .social-area > a:not(.btn) {
  color: #FFFFFF;
}
.footer-color-black .social-area > a:not(.btn):hover, .footer-color-black .social-area > a:not(.btn):focus,
.footer-transparent .social-area > a:not(.btn):hover,
.footer-transparent .social-area > a:not(.btn):focus {
  color: #777777;
}
.footer-color-black .btn-social,
.footer-transparent .btn-social {
  color: #FFFFFF;
}
.footer-color-black hr,
.footer-transparent hr {
  border-color: #444444;
}
.footer-color-black .title,
.footer-transparent .title {
  color: #DDDDDD;
}


@media screen and (max-width: 720px) {

    .about {
        margin-top: 60px;
    }
    .collage {
        position: relative;
        width: 100%;
    }
    .easy {
        margin-left: 0;
        margin-top: 110px;
    }
    .contributor-carousel .owl-nav {
        margin-top: 40px;
    }




