@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* -----------------------------------------------------------------esthetique barre menu------------------------------------------------------------------------------------- */

body {
    font-family: 'Roboto';
    color: #000000;
    font-size: 18px;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.main-header {
    position: relative;
    padding-top: 10px;
    top: 0px;
    background: grey;

}
.menu {
    margin-top: 15px;
}

.menu__item {
    font-weight: 700;
    font-size: 14px;
}

.menu__item a {
    color: #000000;
    text-transform: uppercase;
}
/* ---------------------------------------------------------------esthetique bouton contact----------------------------------------------------------------------------------- */
.cta {
    background: #000000;
    color: #ffffff;
    font-size: 14px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0 ;
    margin-top: 5px;
    display: block;
    cursor: pointer;
    width: 200px;
    border: 0;
    text-align: center;    
}
/* -----------------------------------------------------------------Logo de mon nom au debut---------------------------------------------------------------------------------- */
.logo {
    background: url("../img/logo.svg");
    width: 150px;
    height: 130px;
    background-size: 201px 165px;
    left: 10px;
}

/* -----------------------------------------------------------------esthetique de mon image----------------------------------------------------------------------------------- */

.collage {
    padding-top: 219px;
    height: 600px;
    position: absolute;
    width: 600px;
    right: 400px;
    background: url(../img/img6.jpg) no-repeat left top;
}

.collage img {
    display: block;
    width: 453px;
    height: 560px;
    position: absolute;
    left: 300px;
    bottom: 0;
    box-shadow: 30px 80px 130px rgba(0,0,0,0.25);
}

.result {
    padding-top: 70px;
}
/* ------------------------------------------------------------esthetique likedin et github------------------------------------------------------------------------------------ */
.easy {
    margin-left: 65px;
    margin-top: 30px;
}

.easy__title {
    margin-bottom: 30px;
}

.easy__text {
    margin-bottom: 62px;
}

.easy__point {
    text-transform: uppercase;
    padding-left: 83px;
    letter-spacing: 0.1em;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;

}

.easy__point_first {
    background: url(../img/github-logo.png) no-repeat left center;

}

.easy__point_second {
    background: url(../img/linkedin.png) no-repeat left center;
}
/* ------------------------------------------------------------------esthetique style cv-------------------------------------------------------------------------------------- */
.exp-area {
    padding-top: 200px;
}

.competences {
    padding-top: 192px;

}

.formation-area {
  padding-top: 175px;
}

.section-titlelabel {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.25em;
    color: #8f8f8f;
    margin-bottom: 40px;
}

.serv-list {
    color: #d8d8d8;
    margin-top: 67px;
}

.serv-listitem {
    margin-bottom: 20px;
}

.serv-list__left {
    margin-left: 37px;
}
/* -----------------------------------------------------------------esthetique video youtube---------------------------------------------------------------------------------------- */
.video {
    margin-top: 100px;
}

.you {
    border: solid;
}
.owl-carousel__play {
    display: block;
    background: url(../img/play2.svg);
    width: 100px;
    height: 100px;
    position: absolute;
    left: 40%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
    cursor: pointer;
}
/* ------------------------------------------------------------------esthetique projet---------------------------------------------------------------------------------------- */
.testimonials {
    padding-top: 248px;
}

.contributor {
    margin-top: 121px;
}

.contributor__title {
    margin-bottom: 10px;
}

.cont-photo {
    display: block;
}

.contributor-carousel .owl-nav {
    display: flex;
    margin-top: -50px;
    position: relative;
}

.contributor-carousel .owl-prev {
    margin-right: 25px;
}
/* -----------------------------------------------------------------esthetique du footer-------------------------------------------------------------------------------------- */
footer {
  margin-top: 50px;
}

.socials__item a {
    width: 52px;
    height: 52px;
    display: block;
}

.socials__item_in a {
    background: url('../img/fb.png') no-repeat center center;
}

.socials__item_li a {
    background: url('../img/tw.png') no-repeat center center;
    margin: 0 7px;
}

.socials__item_g a {
    background: url('../img/g.png') no-repeat center center;

}

.line {
    background: #52535e;
    height: 1px;
    margin-bottom: 70px;
    margin-top: 15px;
}

.credits {
    margin-top: 3px;
    text-align: center;
}

.end {
    position: relative;
    margin-bottom: 10px;
}

@media screen and (max-width: 720px) {

    .about {
        margin-top: 60px;
    }
    .collage {
        position: relative;
        width: 100%;
    }
    .easy {
        margin-left: 0;
        margin-top: 110px;
    }
    .contributor-carousel .owl-nav {
        margin-top: 40px;
    }
    .you {
            position: relative;
            width: 100%;
        }

        .owl-carousel__play {
            display: block;
            background: url(../img/play2.svg);
            width: 50px;
            height: 50px;
            position: absolute;
            left: 53%;
            top: 60%;
            margin-left: -32px;
            margin-top: -32px;
            cursor: pointer;
        }
    }
    .logo {
    background: url("../img/logo.svg");
    width: 80px;
    height: 60px;
    background-size: 201px 165px;
    left: 10px;
}
/*----------------------------------------------------contenu------------------------------------------------------------*/
    .collage img {
      display: block;
      width: 133px;
      height: 145px;
      position: absolute;
      left: 50px;
      bottom: 445px;
      box-shadow: 10px 20px 50px rgba(0,0,0,0.25);
    }

    .easy__title {
      position: relative;
      font-size: 24px;
      left: 120px;
      top: 10px;
    }

    .about {
      margin-top: 60px;
    }

    .collage {
      position: absolute;
      width: 10%;
    }
    
    .contributor-carousel .owl-nav {
      margin-top: 40px;
    }
    
    .serv-list__left {
      margin-left: 27px;
    }
    .serv-list__right {
      margin-right: 37px;
    }

    .problems {
      padding-top: 10px;
    }

    .contributor {
      margin-top: 50px;
    }

    .cont-photo {
      position: absolute;
      width: 30%;
    }

}


